.main {
  background-image: url("./wallpaper.png"), url("./wallpaper_main.jpg"),
    url("./wallpaper_main_2.png");
  background-size: 30%, 30%, 30%;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 0% 7%, 103% 107%, 68% 10%;
}
